* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  width: 450px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cell {
  min-width: 145px;
  height: 145px;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: transparent;
  background-color: transparent;
  margin-bottom: 5px;
  cursor: pointer;
}

.cell:disabled {
  cursor: not-allowed;
}

.cross {
  font-size: 100px;
  color: white;
}

.circle {
  font-size: 150px;
  color: white;
}

.reset-btn {
  background-color: transparent;
  border: solid 1px white;
  color: white;
  font-size: 34px;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.reset-btn:hover {
  background-color: white;
  color: #282c34;
  cursor: pointer;
}

.info-header {
  margin-bottom: 25px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winning-cell {
  background-color: #40735b;
}
